@page "/HUApprovalStatus/create"
<h3>Crear Estado de Aprobación de Historias de usuario</h3>

<FormWithName @ref="approvalStatusForm" Label="Estado:" Model="approvalStatus" OnValidSubmit="CreateAsync" ReturnAction="Return" />