@page "/HUPriorities/create"
<h3>Crear Prioridad de Historias de Usuario</h3>

<FormWithName @ref="huPriorityForm" Label="Prioridad: " Model="hUPriority" OnValidSubmit="CreateAsync" ReturnAction="Return" />
