<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SEGES</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

         <AuthorizeView Roles="Admin">
         <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="countries">
                <span class="bi bi-globe-americas" aria-hidden="true"></span> Países
            </NavLink>
        </div>
        </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DocTraceabilityType">
                <span class="bi bi-file-earmark-medical" aria-hidden="true"></span> Tipos de Traza Documental
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HUApprovalStatus">
                <span class="bi bi-person-check-fill" aria-hidden="true"></span> Estado de Aprobación de Historias de Usuario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HUPriorities">
                <span class="bi bi-list-ol" aria-hidden="true"></span>Prioridades de Historias de Usuario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HUPublicationStatus">
                <span class="bi bi-share-fill" aria-hidden="true"></span>Estados de Publicación de Historias de Usuario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HUStatus">
                <span class="bi bi-check2-square" aria-hidden="true"></span>Estados de Historias de Usuario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modules">
                <span class="bi bi-bar-chart-steps" aria-hidden="true"></span>Módulos del Sistema
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProjectStatuses">
                <span class="bi bi-check-all" aria-hidden="true"></span>Estado de Proyectos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
