@page "/cities"

<h3>Ciudades</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/cities/create">Nueva Ciudad</a>
</div>

   
<div class="card-body">
    <Filter PlaceHolder="Buscar a." Callback=@FilterCallBack />
    <GenericList2 MyList="Cities">
        <Body>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync"
                        RecordsNumber="SelectedRecordsNumberAsync" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ciudad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var city in Cities!)
                {
                    <tr>
                        <td>@city.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList2>
<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync" />
</div>