@page "/hupublicationstatus/create"
<h3>Estado de Publicaci[on de Historias de Usuario</h3>

<FormWithName @ref="publicationStatusForm" Label="Estado:" Model="hUPublicationStatus" OnValidSubmit="CreateAsync" ReturnAction="Return" />


 