@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p> @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        @* <p>No estas autorizado</p>*@
    </NotAuthorized>
</AuthorizeView>


<h1 class="display-4">Bienvenido a nuestro Software de Gestión de Proyectos </h1>
<h1 class="display-3" style="accent-color">SEGES</h1>


<div>
    <p>Nuestro software está diseñado para mejorar la comunicación entre los stakeholders y los ingenieros de requisitos en tus proyectos. Con herramientas avanzadas de seguimiento y colaboración, te ayudamos a gestionar proyectos de manera eficiente y efectiva.</p>
    <p>¡Comienza a optimizar tus proyectos ahora mismo!</p>
</div>