@page "/doctraceabiltyTypes/create"
<h3>Tipos de Trazabilidad Documental</h3>

<FormWithName @ref="docTraceabilityTypeForm" Label="Tipo: " Model="traceabilityType" OnValidSubmit="CreateAsync" ReturnAction="Return" />
